<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Travel City Guides</display-name>
	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>yjava_yiv_servlet_filter</filter-name>
		<filter-class>yjava.security.yiv.servlet.InputValidationFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>yjava_yiv_servlet_filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
